@CHARSET "UTF-8";

#fontsize{
	list-style: outside none none;
    margin: 0 0 0 25px;
    padding: 0;
}

#fontsize li.separator{
	background: url("/images/fontsize_item_separator.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    margin-left: 10px;
    padding-left: 9px;
}

#fontsize .first-child{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 0;
}

#fontsize .img-btn{
	background: url("/images/fontsize.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	width: 24px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
}

#fontsize .img-btn.reset{
	background-position: -24px top;
}

#fontsize .img-btn.decrease{
	background-position: -48px top;
}

#fontsize .img-btn.increase:hover{
	background-position: left -24px;
}

#fontsize .img-btn.reset:hover{
	background-position: -24px -24px;
}

#fontsize .img-btn.decrease:hover{
	background-position: -48px -24px;
}

#fontsize .img-btn.increase:active{
	background-position: left -48px;
}

#fontsize .img-btn.reset:active{
	background-position: -24px -48px;
}

#fontsize .img-btn.decrease:active{
	background-position: -48px -48px;
}